body {
    text-align: center;
    background-color: cyan;
}

section {
    background-color: deepskyblue;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    z-index: 10;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    list-style: none;

}

.links {
    color: white;
    font-size: 20px;
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: sans-serif;
}

.links:hover {
    background-color: darkgrey;
}

img {
    width: 400px;
}

#bio {
    width: 400px;
    height: 400px;
}
